* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* header manu css  */
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */

    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;

}

ul a {
    text-decoration: none;
}

ul a li {
    list-style: none;
    color: black;
}

/* index page slider css */
.sliderbox {
    height: 90vh;
    /* width: 100vw; */
}

.imgslider {
    /* height: 80vh; */
    /* width: 100%; */
    width: 100%;
    height: 100%;
    background-size: cover
}

/* css for footer component */
.footer{
    background-color: rgba(0, 0, 0, 0.397);
}

.footer ul{
    display: block;
    justify-content:start;
    /* border: 1px solid red; */
    padding: 0px;
}
 input:focus{
    outline: none;
    box-shadow:none !important;
}